body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

#rough {
    text-decoration: none;
    text-shadow: none;
    font-size: 25px;
}
.profile {
    border-radius: 50%;

}

#togoa {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

#todelhi {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}
#welcome {

    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    
}



h1 {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Cinzel Decorative', cursive;

    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


p {
    font-size: 17px;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}
html {
    scroll-behavior: smooth;
}
.article:hover {
    color:fuchsia;
}

.menu {
    position: fixed;
    background: white;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: darkorange;
    text-shadow: none;
}

.article:hover {
    color: saddlebrown;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: aqua !important;
}

#contact {
   background:  firebrick;
}

#contact iframe {
    width: 100%;
    
}

.contact_1 h3{
    display: inline;
}

.contact a {
    color: aliceblue;
    text-shadow: none;
}